In [5]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('musicbrainz-cmudb2020.db.gz')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print(tables)
print(len(tables))

DatabaseError: file is not a database

4Observe that we have 15 tables in this database.

## Q1 (q1_sample)

The purpose of this query is to make sure that the formatting of your output matches exactly the formatting of our auto-grading script.

<b>Details:</b> List all types of work ordered by type ascendingly.

In [5]:
# Lets have a look at all columns in work_type table

cursor.execute("PRAGMA table_info('work_type')")
cols = cursor.fetchall()
for col in cols:
    print(col[1])

id
name
description

In [4]:
output = pd.read_sql_query("""SELECT name FROM work_type ORDER BY name""", conn)
output

                name
0               Aria
1        Audio drama
2             Ballet
3      Beijing opera
4            Cantata
5           Concerto
6   Incidental music
7           Madrigal
8               Mass
9              Motet
10           Musical
11             Opera
12          Operetta
13          Oratorio
14          Overture
15           Partita
16              Play
17              Poem
18             Prose
19           Quartet
20            Sonata
21              Song
22        Song-cycle
23        Soundtrack
24             Suite
25    Symphonic poem
26          Symphony
27          Zarzuela
28             Étude

In [ ]:
# Now solve rest of the questions.. 

# Go through the database schema multiple time inorder to understand it

### Below mentioned are the SQL queries to all the questions. Put them in proper pd.read_sql_query syntax and run

## Q2

In [ ]:
select work.name,
    work_type.name
from work
    inner join (
        select max(length(work.name)) as max_length,
            work.type as type
        from work
        group by work.type
    ) as newtable on newtable.max_length = length(work.name)
    and work.type = newtable.type
    inner join work_type on work.type = work_type.id
order by work.type asc,
    work.name asc;

## Q3

In [ ]:
select a2.name,
    count(*) as c
from artist a1
    inner join area a2 on a1.area = a2.id
where begin_date_year < 1850
group by a1.area
order by c desc
limit 10;

## Q4

In [ ]:
Select artist.name,
    count(distinct artist_alias.name) as num
From artist
    inner join artist_alias on artist.id = artist_alias.artist
Where artist.begin_date_year > 1950
    and area = 221
Group by artist.id
Order by num desc
Limit 10;

## Q5

In [ ]:
select distinct r1.name as rname
from artist_credit_name a1
    inner join artist_credit a2 on a1.artist_credit = a2.id
    inner join release r1 on a2.id = r1.artist_credit
    inner join release_info r2 on r1.id = r2.release
    inner join medium m1 on r1.id = m1.release
    inner join medium_format m2 on m1.format = m2.id
where a1.name = 'Coldplay'
    and m2.name like '%Vinyl'
order by date_year,
    date_month,
    date_day;

## Q6

In [ ]:
Select decade,
    count(*) as cnt
from (
        select (CAST((date_year / 10) as int) * 10) || 's' as decade
        from release
            inner join release_info on release.id = release_info.release
        where release.status = 1
            and date_year >= 1900
    )
Group by decade
Order by cnt desc,
    decade desc;

## Q7

In [ ]:
with past_year_release (year, month) as (
    select date_year,
        date_month
    from release_info r1
        inner join release r2 on r1.release = r2.id
    where (
            (
                date_year = 2019
                and date_month >= 7
            )
            or (
                date_year = 2020
                and date_month <= 7
            )
        )
)
select cast(year as varchar) || '.' || (
        case
            when month < 10 then '0'
            else ''
        end
    ) || cast(month as varchar) as date,
    round(
        count(*) * 100.0 / (
            select count(*)
            from past_year_release
        ),
        2
    )
from past_year_release
group by date
order by date;

## Q8

In [ ]:
Select count(distinct artist)
From artist_credit_name
Where artist_credit in (
        select artist_credit
        from artist_credit_name
        where name = 'Ariana Grande'
    );

## Q9

In [ ]:
with duos_list (id1, id2, count) as (
    select a1.artist as id1,
        a2.artist as id2,
        count(*) as c
    from artist_credit_name a1
        inner join artist_credit_name a2 on a1.artist_credit = a2.artist_credit
        inner join release r on a2.artist_credit = r.artist_credit
        inner join artist a3 on a1.artist = a3.id
        inner join artist a4 on a2.artist = a4.id
        inner join artist_type a5 on a3.type = a5.id
        inner join artist_type a6 on a4.type = a6.id
        inner join language l on r.language = l.id
    where a3.name < a4.name
        and a5.name = "Person"
        and a6.name = "Person"
        and l.name = 'English'
        and a3.begin_date_year > 1960
        and a4.begin_date_year > 1960
    group by a1.artist,
        a2.artist
)
select *
from (
        select row_number () over (
                order by count desc,
                    a1.name,
                    a2.name
            ) as rank,
            a1.name as name1,
            a2.name as name2,
            count
        from duos_list d
            inner join artist a1 on d.id1 = a1.id
            inner join artist a2 on d.id2 = a2.id
    )
where name1 = 'Dr. Dre'
    and name2 = 'Eminem';

## Q10

In [ ]:
with c as (
      select row_number() over (
                  order by c.id asc
            ) as seqnum,
            c.name as name
      from artist_alias c
            join artist on c.artist = artist.id
      where artist.name = 'The Beatles'
),
flattened as (
      select seqnum,
            name as name
      from c
      where seqnum = 1
      union all
      select c.seqnum,
            f.name || ', ' || c.name
      from c
            join flattened f on c.seqnum = f.seqnum + 1
)
select name
from flattened
order by seqnum desc
limit 1;